
{% load static %}
{% block javascript %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="{% static 'js/eliminacion.js' %}"></script>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRADOR listar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/LISTAR_VALORACION.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <h1 class="text-center"> Garantias</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">🏠Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">🛠️Menu</a>
                    </li>
                   
                     <li class="nav-item">
                    <a class="nav-link" href="{%  url 'Garantias:registrogarantia' %}">🖋️Registrar  Garantia</a>
                </li>
                </ul>
            </div>
        </div>   
          <a class="nav-link   badge bg-primary text-wrap " href="{% url 'cerrar' %}">Cerrar  Sesión</a>
      
  </ul>  </nav>

    <div class="container">
        {% block content %}
        <h1 class="h1">Listado de  Garantias</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha Inicio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fecha Fin</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for listadogarantia in listadoGarantias %}
                <tr>
                    <td > <p  class="text-break" >{{ listadogarantia.id_gar }} 🔧      {{ listadogarantia.fechaInicio }} 🔧    {{ listadogarantia.fechaFin }}  🔧   {{ listadogarantia.id_tiga }} </p></td>
                    <td>
                        <a href="#" onclick="eliminar_garantia({{ listadogarantia.id_gar }})">
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'Garantias:editargarantia' listadogarantia.id_gar %}">
                            <button type="button" class="btn btn-success">Actualizar</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    </div>

    <footer>
        <h1>Mecanica-Master</h1>
    </footer>
</body>
</html>
